# Data
data/
*.parquet

# Python Environment
.venv/
venv/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# CI/CD & Artifacts
jenkins_home/
model_dir/
onnx_model_dir/
registry_data/

# MLflow artifacts
mlruns/

# Kafka binaries (must not be committed)
kafka/
kafka_*.tgz


# Virtual env
.venv/

# Test & CI artifacts
reports/
test-results.xml
